@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}


/* Header Top Start */

.header_top_menu_main {
    background: linear-gradient(180deg, #0F075A 0%, #151262 36.57%, #495E96 100%);
}

.header_top_menu_marquee {
    color: #41FF8D!important;
    padding: 4px 0px!important;
}

.header_top_menu_right ul {
    display: table;
    float: right;
    margin-bottom: 0px!important;
}

.header_top_menu_right ul li {
    display: inline-block;
    border-right: 2px solid #ACB7D7;
    color: white;
}

.header_top_menu_right ul li:last-child {
    border-right: none;
}

.header_top_menu_right ul li a {
    display: block;
    padding: 10px 5px!important;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.header_top_menu_right ul li a i {
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .header_top_menu_right ul {
        display: block;
        float: none;
        margin-bottom: 10px!important;
        background-color: #31AED3;
    }
    .header_top_menu_right ul li {
        border-right: none;
    }
}


/* Header Top End */


/* ================================== */


/* Header Bottom Start */

.header_bottom_right {
    padding: 20px 0px !important;
    display: table;
    float: right;
}

.header_bottom_right button {
    background-color: #31AED3;
    border-radius: 4px;
    padding: 05px 15px!important;
    border: none;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 10px!important;
}

@media only screen and (max-width: 600px) {
    .header_bottom_right {
        padding: 20px 0px !important;
        display: block;
        float: none;
    }
    .header_bottom_right button {
        background-color: #31AED3;
        border-radius: 4px;
        padding: 5px 5px!important;
        border: none;
        outline: none;
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        margin-left: 10px!important;
    }
}


/* Header Bottom Start */


/* ================================== */


/* Header Menu Top Start */

.header_menu_top {
    height: 20px;
    background-color: #72006D;
}


/* Header Menu Top End */


/* Main Menu Start */

.header_main_menu_mid ul li a {
    color: #120D5E!important;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}


/* Main Menu End */


/* Slider Section Start */

.carousel-inner img {
    height: 542px;
}

.carousel-indicators button {
    height: 15px!important;
    width: 15px!important;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .carousel-inner img {
        height: 300px;
    }
}


/* Slider Section End */


/* Notice section Start */

.card_main {
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #ccc;
    overflow: hidden;
    margin: 10px 0px;
}

.card_main:nth-child(2) .card_date {
    background-color: #31AED3;
}

.card_main:nth-child(4) .card_date {
    background-color: #31AED3;
}

.card_main:nth-child(5) .card_date {
    background-color: #31AED3;
}

.card_left {
    height: 100px;
    width: 20%;
    float: left;
    position: relative;
}

.card_date {
    background-color: #DC3545;
    display: table;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    padding: 9px 25px;
    border-radius: 5px;
}

.card_date span {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.notice_button_row {
    margin: 10px 0px;
    overflow: hidden;
}

.notice_buttons {
    display: table;
    float: right;
}

.notice_buttons a {
    margin-left: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #872683;
    padding: 5px 10px;
    border-radius: 2px;
}

.card_right {
    height: 100px;
    width: 80%;
    float: left;
    line-height: 100px;
}

.card_right h5 {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    /* Slider Text */
    color: #070707;
    margin-left: 20px;
    padding: 10px 10px;
}

.notice_section_left .nav-pills .nav-link.active {
    background-color: white;
    color: #872683;
    border-bottom: 4px solid #872683;
    border-radius: 0px;
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height */
    /* tertiary */
    color: #872683;
}

.nav-pills .nav-link {
    color: #969494;
}

.notice_section_left {}

.notice_section_right {
    margin-top: 10px;
}

.notice_section {
    overflow: hidden;
}

.notice_section_title {
    float: left;
}

.notice_section_title h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height */
    color: #086B30;
}

.notice_section_title span {
    height: 4px;
    display: block;
    height: 4px;
    background-color: #086B30;
}

.notice_section_button {
    float: right;
}

.notice_section_button a {
    border: 2px solid #086B30;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #086B30;
    display: block;
    margin-top: 5px;
    padding: 5px 10px;
}

.notice_section_card {
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #ccc;
    overflow: hidden;
    margin: 10px 0px;
    background-image: url('images/recent_news.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.notice_card_date {
    background-color: #41FF8D;
    display: table;
    padding: 2px 15px;
}

.notice_card_date span {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.notice_card_title {
    background: linear-gradient(180deg, #086B30 0%, rgba(8, 107, 48, 0.65) 0.01%, rgba(8, 107, 48, 0.76) 100%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.notice_card_title h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
    .card_left {
        width: 30%;
    }
    .card_right {
        width: 70%;
    }
}


/* Notice section End */


/* News Archive Start */

.news_archive_main {
    overflow: hidden;
    background-color: #D9D6FB;
    margin: 0px 0px;
}

.news_archive_title {
    border-right: 4px solid #120D5E;
    display: table;
    padding: 2px 18px;
    margin-top: 40px;
}

.news_archive_title h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #120D5E;
}

.owl_carousole_main {}

.item {
    overflow: hidden;
}

.item_left {
    height: 150px;
    width: 100%;
    float: left;
}

.item_left img {
    height: 150px!important;
    width: 100%!important;
}

.item_right {
    width: 100%;
    float: left;
    padding: 0px 10px;
}

.item_right h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 38px;
    /* or 158% */
    color: #000000;
    margin-top: 30px;
}

.owl-dots {
    display: none;
}

.owl_carousole_main {
    position: relative;
}

.owl-prev {
    position: absolute;
    top: 60px;
    left: -82px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: 30px!important;
    width: 30px!important;
    border-radius: 50%!important;
    background-color: #0F075A!important;
    color: white;
}

.owl-prev span {
    color: white;
}

.owl-next span {
    color: white;
}

.owl-next {
    position: absolute;
    top: 60px;
    /* left: 0px; */
    right: -82px;
    bottom: 0px;
    margin: auto;
    height: 30px!important;
    width: 30px!important;
    border-radius: 50%!important;
    background-color: #0F075A!important;
    color: white;
}

@media only screen and (max-width: 600px) {
    .news_archive_title {
        border: none;
        display: block;
        text-align: center;
        margin-top: 0px;
    }
    .item_left {
        width: 100%;
        text-align: center;
    }
    .item_right {
        width: 100%;
    }
    .item_right h3 {
        text-align: center;
    }
    .item_right p {
        text-align: center;
    }
}


/* News Archive End */


/* Admission Guide Start */

.admission_guide_main {
    background-color: #E0F3F9;
}

.admission_guide_card {
    background-color: #0F075A;
    text-align: center;
    color: white;
    padding: 35px 0px;
    width: 100%;
}

.admission_guide_card img {
    display: block;
    margin: auto;
}

.admission_guide_card span {
    display: block;
}

.admission_guide_main .nav-pills .nav-link.active {
    background-color: #E0F3F9;
    color: #086B30!important;
    border-bottom: 4px solid #086B30;
    border-radius: 0px;
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height */
    /* tertiary */
}


/* Admission Guide End */


/* Team Member Start */

.team_member_main {
    background-color: #E9EEFC;
    margin-bottom: 40px!important;
}


/* Team Member Emd */


/* Footer Top Start */

.footer_top_main {
    background-color: #D9D6FB!important;
}

.footer_top_left {
    height: 100px;
}

.footer_top_left_logo {
    width: 25%;
    float: left;
}

.footer_top_left_logo img {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

.footer_top_left_text {
    width: 75%;
    float: left;
    padding: 8px 0px;
}

.footer_top_left_text h6 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 28px;
    color: #0F075A;
}

.footer_top_left_text p {
    margin: 0px!important;
}

.footer_top_right {
    text-align: right;
}

.footer_top_right h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 28px;
    color: #0F075A;
}

@media only screen and (max-width: 600px) {
    .footer_top_right {
        text-align: left;
        margin-left: 30px;
        margin-top: 30px;
    }
}


/* Footer Top End */


/* Footer Main Section Start */

.footer_main_section {
    background-image: url("images/footer_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_main_section h5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #0F075A;
}

.footer_main_section ul li a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
}


/* Footer Main Section End */


/* Copyright Section Start */

.copyright_section_main {
    background-color: #0F075A;
}

.copyright_section_main p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


/* Copyright Section End */